<template>
  <div>
    <div class="footer-down">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>&copy; 2021 Rectaplay ltd. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {}
</script>
