<template>
  <div>
    <header>
      <!-- End headerbox-->
      <div class="headerbox">
        <div class="container">
          <div class="row justify-content-between align-items-center">
            <!-- Logo-->
            <div class="col">
              <div class="centrelogo">
                <!--<a href="http://themeforest.net/user/iwthemes/portfolio?ref=iwthemes" target="_blank">
                                <img src="/img/adds/banner.jpg" alt="" class="img-responsive">
                            </a>-->
                <a href="/" title="Home">
                  <img src="/img/logo.png" alt="Logo" class="logo_img" />
                </a>
              </div>
            </div>
            <!-- End Logo-->

            <!-- Adds Header-->
            <div class="col">
              <!-- https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_button -->
              <div
                v-if="showAccountButton"
                class="dropdown"
                style="float: right"
              >
                <button class="dropbtn">My Account</button>
                <div class="dropdown-content">
                  <router-link v-if="!checkForUser" to="/login"
                    >Login</router-link
                  >
                  <span @click.capture="doLogout"
                    ><router-link v-if="checkForUser" to="/logout"
                      >Logout</router-link
                    ></span
                  >
                  <router-link v-if="checkForUser" :to="`/settings/${userid}`"
                    >Settings</router-link
                  >
                </div>
              </div>

              <!-- Call Nav Menu-->

              <!-- End Call Nav Menu-->
            </div>
            <!-- End Adds Header-->
          </div>
        </div>
      </div>
      <!-- End headerbox-->
    </header>
  </div>
</template>

<script>
// import { Router } from 'express';
// below will be used to fetch data later

// import axios from 'axios'
// import gql from 'graphql-tag'
// import routes from '../routes';

export default {
  name: 'SiteHeader',

  data() {
    return {
      checkForUser: {},
      loggedIn: true,
      showAccountButton: true,
      userid: 'noid',
    }
  },
  beforeMount() {
    this.checkForUser = JSON.parse(localStorage.getItem('user'))

    if (this.checkForUser) {
      this.loggedIn = true
      this.userid = this.checkForUser.user.id
    } else {
      this.loggedIn = false
    }

    if (this.$route.name === 'LoginRoute' || this.$route.name === 'SignUpRoute')
      this.showAccountButton = false
  },
  methods: {
    doLogout(e) {
      // console.log('prevented!')
      e.preventDefault()
      localStorage.removeItem('user')
      // reload the current route to update cards data ... look for better hook to implement this
      location.reload()
      this.$router.push('/login')
    },
  },
}
</script>

<style scoped>
.goright {
  float: right;
}
.cenrelog {
  margin: 0 auto;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
</style>
