<template>
  <div class="blk">
    <div class="container">
      <!--https://www.w3schools.com/howto/howto_js_topnav_responsive.asp -->
      <!--https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav -->
      <!-- for dropdowns see https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_dropdown_navbar_click-->
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      />

      <div ref="myTopnav" class="topnav">
        <!-- Use the v-if to determine whether to load menu for a single team or teams -->
        <span v-if="true">
          <router-link to="/">Home</router-link>
          <router-link to="/teams">Teams</router-link>
          <router-link to="/players">Players</router-link>

          <span @click.capture="clicked">
            <router-link to="/nowhere">Partners</router-link>
          </span>
          <span @click.capture="clicked">
            <router-link to="/nowhere">Competitions</router-link>
          </span>
          <span @click.capture="clicked">
            <router-link to="/nowhere">Leagues</router-link>
          </span>

          <router-link to="/contact">Contact</router-link>
        </span>

        <!---<a href="#home" class="active">Home</a>
  <a href="/teams">Teams</a>
  <a href="/players">Players</a>
  <a href="#about">About</a>-->
        <a href="javascript:void(0);" class="icon" @click="myFunction">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SiteNavigation',
  data() {
    return {}
  },
  created() {
    this.myFunction()
  },

  methods: {
    myFunction() {
      // const x = this.$refs.myTopnav
    },

    clicked(e) {
      // console.log('prevented!')
      e.preventDefault()
    },
  },
}
</script>

<style scoped>
/* Add a black background color to the top navigation */
.topnav {
  background-color: #000;
  overflow: hidden;
}

.blk {
  background-color: #000;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4caf50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
</style>
