<template>
  <div>
    <div id="layout">
    <client-only>
      <SiteHeader></SiteHeader>
      <TenantNavigation></TenantNavigation>
    </client-only>
      <!-- section-hero-->
      <div class="hero-video">
        <div class="video-foreground">
          <iframe
            src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>

        <div class="info-hero">
          <div class="container">
            <div class="row align-items-center justify-content-end">
              <div class="col">
                <h1>
                  World Cup
                  <span>Premium Sports Theme</span>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End section-hero-->

      <!-- Section Area - Content Central -->
      <section class="content-info">
        <!-- Dark Home -->
        <div class="container">
          <div class="dark-home above">
            <div class="row">
              <!-- Left Content - Tabs and Carousel -->
              <div class="col-xl-9 col-md-12">
                <!-- Nav Tabs -->
                <ul id="myTab" class="nav nav-tabs">
                  <li class="active">
                    <a href="#statistics" data-toggle="tab">STATISTICS</a>
                  </li>
                  <li><a href="#groups" data-toggle="tab">GROUPS</a></li>
                  <li>
                    <a href="#description" data-toggle="tab">DESCRIPTION</a>
                  </li>
                </ul>
                <!-- End Nav Tabs -->

                <!-- Content Tabs -->
                <div class="tab-content">
                  <!-- Tab Theree - statistics -->
                  <div id="statistics" class="tab-pane active">
                    <div class="row">
                      <!-- Club Ranking -->
                      <div class="col-lg-4">
                        <div class="club-ranking">
                          <h5><a href="group-list.html">Club Ranking</a></h5>
                          <div class="info-ranking">
                            <ul>
                              <li>
                                <span class="position"> 1 </span>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/rusia.png" alt="" />
                                  Russia
                                </a>
                                <span class="points"> 90 </span>
                              </li>

                              <li>
                                <span class="position"> 2 </span>
                                <a href="single-team.html">
                                  <img
                                    src="img/clubs-logos/arabia.png"
                                    alt=""
                                  />
                                  Saudi Arabia
                                </a>
                                <span class="points"> 86 </span>
                              </li>

                              <li>
                                <span class="position"> 3 </span>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/egy.png" alt="" />
                                  Egypt
                                </a>
                                <span class="points"> 84 </span>
                              </li>

                              <li>
                                <span class="position"> 4 </span>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/uru.png" alt="" />
                                  Uruguay
                                </a>
                                <span class="points"> 70 </span>
                              </li>

                              <li>
                                <span class="position"> 5 </span>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/por.png" alt="" />
                                  Portugal
                                </a>
                                <span class="points"> 67 </span>
                              </li>

                              <li>
                                <span class="position"> 6 </span>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/esp.png" alt="" />
                                  Spain
                                </a>
                                <span class="points"> 60 </span>
                              </li>

                              <li>
                                <span class="position"> 55 </span>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/mar.png" alt="" />
                                  Morocco
                                </a>
                                <span class="points"> 90 </span>
                              </li>

                              <li>
                                <span class="position"> 8 </span>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/irn.png" alt="" />
                                  IR Iran
                                </a>
                                <span class="points"> 53 </span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <!-- End Club Ranking -->

                      <!-- recent-results -->
                      <div class="col-lg-4">
                        <div class="recent-results">
                          <h5><a href="group-list.html">Recent Result</a></h5>
                          <div class="info-results">
                            <ul>
                              <li>
                                <span class="head">
                                  Portugal Vs Spain
                                  <span class="date">27 Jun 2017</span>
                                </span>

                                <div class="goals-result">
                                  <a href="single-team.html">
                                    <img src="img/clubs-logos/por.png" alt="" />
                                    Portugal
                                  </a>

                                  <span class="goals">
                                    <b>2</b> - <b>3</b>
                                  </span>

                                  <a href="single-team.html">
                                    <img src="img/clubs-logos/esp.png" alt="" />
                                    Spain
                                  </a>
                                </div>
                              </li>

                              <li>
                                <span class="head">
                                  Rusia Vs Colombia
                                  <span class="date">30 Jun 2017</span>
                                </span>

                                <div class="goals-result">
                                  <a href="single-team.html">
                                    <img
                                      src="img/clubs-logos/rusia.png"
                                      alt=""
                                    />
                                    Rusia
                                  </a>

                                  <span class="goals">
                                    <b>2</b> - <b>3</b>
                                  </span>

                                  <a href="single-team.html">
                                    <img
                                      src="img/clubs-logos/colombia.png"
                                      alt=""
                                    />
                                    Colombia
                                  </a>
                                </div>
                              </li>

                              <li>
                                <span class="head">
                                  Uruguay Vs Portugal
                                  <span class="date">31 Jun 2017</span>
                                </span>

                                <div class="goals-result">
                                  <a href="single-team.html">
                                    <img src="img/clubs-logos/uru.png" alt="" />
                                    Uruguay
                                  </a>

                                  <span class="goals">
                                    <b>2</b> - <b>3</b>
                                  </span>

                                  <a href="single-team.html">
                                    <img src="img/clubs-logos/por.png" alt="" />
                                    Portugal
                                  </a>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <!-- end recent-results -->

                      <!-- Top player -->
                      <div class="col-lg-4">
                        <div class="player-ranking">
                          <h5><a href="group-list.html">Top player</a></h5>
                          <div class="info-player">
                            <ul>
                              <li>
                                <span class="position"> 1 </span>
                                <a href="single-team.html">
                                  <img src="img/players/1.jpg" alt="" />
                                  Cristiano R.
                                </a>
                                <span class="points"> 90 </span>
                              </li>

                              <li>
                                <span class="position"> 2 </span>
                                <a href="single-team.html">
                                  <img src="img/players/2.jpg" alt="" />
                                  Lionel Messi
                                </a>
                                <span class="points"> 88 </span>
                              </li>

                              <li>
                                <span class="position"> 3 </span>
                                <a href="single-team.html">
                                  <img src="img/players/3.jpg" alt="" />
                                  Neymar
                                </a>
                                <span class="points"> 86 </span>
                              </li>

                              <li>
                                <span class="position"> 4 </span>
                                <a href="single-team.html">
                                  <img src="img/players/4.jpg" alt="" />
                                  Luis Suárez
                                </a>
                                <span class="points"> 80 </span>
                              </li>

                              <li>
                                <span class="position"> 5 </span>
                                <a href="single-team.html">
                                  <img src="img/players/5.jpg" alt="" />
                                  Gareth Bale
                                </a>
                                <span class="points"> 76 </span>
                              </li>

                              <li>
                                <span class="position"> 6 </span>
                                <a href="single-team.html">
                                  <img src="img/players/6.jpg" alt="" />
                                  Sergio Agüero
                                </a>
                                <span class="points"> 74 </span>
                              </li>

                              <li>
                                <span class="position"> 7 </span>
                                <a href="single-team.html">
                                  <img src="img/players/2.jpg" alt="" />
                                  Jamez R.
                                </a>
                                <span class="points"> 70 </span>
                              </li>

                              <li>
                                <span class="position"> 8 </span>
                                <a href="single-team.html">
                                  <img src="img/players/1.jpg" alt="" />
                                  Falcao Garcia
                                </a>
                                <span class="points"> 65 </span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <!-- End Top player -->
                    </div>
                  </div>
                  <!-- Tab Theree - statistics -->

                  <!-- Tab One - Groups List -->
                  <div id="groups" class="tab-pane">
                    <div class="groups-list">
                      <div class="row">
                        <div class="col-lg-3 col-md-6">
                          <h5><a href="groups.html">GROUP A</a></h5>
                          <div class="item-group">
                            <ul>
                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/rusia.png" alt="" />
                                  Russia
                                </a>
                              </li>

                              <li>
                                <a href="single-team.html">
                                  <img
                                    src="img/clubs-logos/arabia.png"
                                    alt=""
                                  />
                                  Saudi Arabia
                                </a>
                              </li>

                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/egy.png" alt="" />
                                  Egypt
                                </a>
                              </li>

                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/uru.png" alt="" />
                                  Uruguay
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                          <h5><a href="groups.html">GROUP B</a></h5>
                          <div class="item-group">
                            <ul>
                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/por.png" alt="" />
                                  Portugal
                                </a>
                              </li>

                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/esp.png" alt="" />
                                  Spain
                                </a>
                              </li>

                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/mar.png" alt="" />
                                  Morocco
                                </a>
                              </li>

                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/irn.png" alt="" />
                                  IR Iran
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                          <h5><a href="group-list.html">GROUP C</a></h5>
                          <div class="item-group">
                            <ul>
                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/fra.png" alt="" />
                                  France
                                </a>
                              </li>

                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/aus.png" alt="" />
                                  Australia
                                </a>
                              </li>

                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/per.png" alt="" />
                                  Peru
                                </a>
                              </li>

                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/den.png" alt="" />
                                  Denmark
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                          <h5><a href="group-list.html">GROUP D</a></h5>
                          <div class="item-group">
                            <ul>
                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/arg.png" alt="" />
                                  Argentina
                                </a>
                              </li>

                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/isl.png" alt="" />
                                  Iceland
                                </a>
                              </li>

                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/cro.png" alt="" />
                                  Croatia
                                </a>
                              </li>

                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/nga.png" alt="" />
                                  Nigeria
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-3 col-md-6">
                          <h5><a href="group-list-html">GROUP E</a></h5>
                          <div class="item-group">
                            <ul>
                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/bra.png" alt="" />
                                  Brazil
                                </a>
                              </li>

                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/sui.png" alt="" />
                                  Switzerland
                                </a>
                              </li>

                              <li>
                                <a href="single-team.html">
                                  <img
                                    src="img/clubs-logos/costa-rica.png"
                                    alt=""
                                  />
                                  Costa rica
                                </a>
                              </li>

                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/srb.png" alt="" />
                                  Serbia
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                          <h5><a href="group-list-html">GROUP F</a></h5>
                          <div class="item-group">
                            <ul>
                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/ger.png" alt="" />
                                  Germany
                                </a>
                              </li>

                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/mex.png" alt="" />
                                  Mexico
                                </a>
                              </li>

                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/swe.png" alt="" />
                                  Sweden
                                </a>
                              </li>

                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/kor.png" alt="" />
                                  Korea Rep
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                          <h5><a href="group-list-html">GROUP G</a></h5>
                          <div class="item-group">
                            <ul>
                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/bel.png" alt="" />
                                  Belgium
                                </a>
                              </li>

                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/pan.png" alt="" />
                                  Panama
                                </a>
                              </li>

                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/tun.png" alt="" />
                                  Tunisia
                                </a>
                              </li>

                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/eng.png" alt="" />
                                  England
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                          <h5><a href="group-list-html">GROUP H</a></h5>
                          <div class="item-group">
                            <ul>
                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/pol.png" alt="" />
                                  Poland
                                </a>
                              </li>

                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/sen.png" alt="" />
                                  Senegal
                                </a>
                              </li>

                              <li>
                                <a href="single-team.html">
                                  <img
                                    src="img/clubs-logos/colombia.png"
                                    alt=""
                                  />
                                  Colombia
                                </a>
                              </li>

                              <li>
                                <a href="single-team.html">
                                  <img src="img/clubs-logos/japan.png" alt="" />
                                  Japan
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Tab One - Groups List -->

                  <!-- Tab Two - Destinations -->
                  <div id="description" class="tab-pane">
                    <div class="info-general">
                      <div class="row">
                        <div class="col-md-4">
                          <img src="img/locations/1.jpg" alt="" />
                        </div>

                        <div class="col-md-8">
                          <h3>2018 FIFA World Cup</h3>
                          <p class="lead">
                            The 2018 FIFA World Cup will be the 21st FIFA World
                            Cup, a quadrennial international football tournament
                            contested by the men's national teams. West of the
                            Ural Mountains to keep travel time manageable.
                          </p>
                        </div>

                        <div class="col-md-12">
                          <p>
                            It is scheduled to take place in Russia from 14 June
                            to 15 July 2018,[2] after the country was awarded
                            the hosting rights on 2 December 2010. This will be
                            the first World Cup held in Europe since 2006; all
                            but one of the stadium venues are in European
                            Russia, west of the Ural Mountains to keep travel
                            time manageable.
                          </p>
                          <h4>Gianni Infantino - Fifa President</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Tab Two - Destinations -->
                </div>
                <!-- Content Tabs -->
              </div>
              <!-- Left Content - Tabs and Carousel -->

              <!-- Right Content - Content Counter -->
              <div class="col-xl-3 col-md-12">
                <div class="counter-home-wraper">
                  <div class="title-color text-center">
                    <h4>World Cup Russia 2018</h4>
                  </div>

                  <div class="content-counter content-counter-home">
                    <p class="text-center">
                      <i class="fa fa-clock-o"></i>
                      Countdown Till Start
                    </p>
                    <div id="event-one" class="counter"></div>
                    <ul class="post-options">
                      <li><i class="fa fa-calendar"></i>14 June, 2018</li>
                      <li><i class="fa fa-clock-o"></i>Kick-of, 12:00 PM</li>
                    </ul>

                    <div class="list-groups">
                      <div class="row align-items-center">
                        <div class="col-md-12">
                          <p>GROUP A, Luzhniki Stadium Moscow</p>
                        </div>

                        <div class="col-md-5">
                          <img src="img/clubs-logos/rusia.png" alt="" />
                          <span>RUSSIA</span>
                        </div>

                        <div class="col-md-2">
                          <div class="vs">Vs</div>
                        </div>

                        <div class="col-md-5">
                          <img src="img/clubs-logos/arabia.png" alt="" />
                          <span>SAUDI ARABIA</span>
                        </div>
                      </div>
                    </div>

                    <a class="btn btn-primary" href="#">
                      PURCHASE
                      <i class="fa fa-trophy"></i>
                    </a>
                  </div>
                </div>
                <!-- Content Counter -->
              </div>
              <!-- End Right Content - Content Counter -->
            </div>
          </div>
        </div>
        <!-- Dark Home -->

        <div class="container padding-top">
          <div class="black-section paddings">
            <div class="row">
              <div class="col-md-6 col-xl-3">
                <div class="item-feature dark">
                  <i class="fa fa-cogs"></i>
                  <h3>Host selection</h3>
                  <p>
                    The bidding procedure to host the 2018 and 2022 FIFA World
                    Cups began in January 2009, and national associations.
                  </p>
                  <a href="#">Learn More</a>
                </div>
              </div>

              <div class="col-md-6 col-xl-3">
                <div class="item-feature dark">
                  <i class="fa fa-users"></i>
                  <h3>Teams</h3>
                  <p>
                    For the first time in the history of the FIFA World Cup, all
                    eligible nations – the 209 FIFA member associations.
                  </p>
                  <a href="#">Learn More</a>
                </div>
              </div>

              <div class="col-md-6 col-xl-3">
                <div class="item-feature dark">
                  <i class="fa fa-calendar"></i>
                  <h3>Venues</h3>
                  <p>
                    The final choice of host cities was announced on 29
                    September 2012. The number of cities was further reduced to
                    1.
                  </p>
                  <a href="#">Learn More</a>
                </div>
              </div>

              <div class="col-md-6 col-xl-3">
                <div class="item-feature dark">
                  <i class="fa fa-soccer-ball-o"></i>
                  <h3>Marketing</h3>
                  <p>
                    The tournament logo was unveiled on 28 October 2014 by
                    cosmonauts at the International Space Station.
                  </p>
                  <a href="#">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- White Section -->
        <div class="padding-bottom">
          <div class="container">
            <div class="row padding-top">
              <div class="col-md-6 col-xl-4">
                <a href="single-team.html">
                  <div
                    class="item-boxed-img"
                    style="background: url(img/blog/2.jpg)"
                  >
                    <i class="fa fa-soccer-ball-o"></i>
                    <h4>Soccer Team</h4>
                    <p>Best Sports Features</p>
                  </div>
                </a>
              </div>

              <div class="col-md-6 col-xl-4">
                <a href="page-about.html">
                  <div
                    class="item-boxed-img"
                    style="background: url(img/blog/3.jpg)"
                  >
                    <i class="fa fa-soccer-ball-o"></i>
                    <h4>Club Features</h4>
                    <p>Best Sports Features</p>
                  </div>
                </a>
              </div>

              <div class="col-md-6 col-xl-4">
                <a href="services.html">
                  <div
                    class="item-boxed-img"
                    style="background: url(img/blog/4.jpg)"
                  >
                    <i class="fa fa-soccer-ball-o"></i>
                    <h4>Technical body</h4>
                    <p>Best Sports Features</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- End White Section -->

        <div class="dark-section paddings-big">
          <div class="scale">
            <div class="skewmask-block"></div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-lg-5 padding-top">
                <h2>2018 FIFA World Cup</h2>
                <p class="lead">
                  The 2018 FIFA World Cup will be the 21st FIFA World Cup, a
                  quadrennial international football tournament contested by the
                  men's national teams. West of the Ural Mountains to keep
                  travel time manageable.
                </p>

                <div class="row">
                  <div class="col-6">
                    <ul class="list-style">
                      <li>
                        <a href="#"
                          ><i class="fa fa-angle-right"></i>Qualifiers</a
                        >
                      </li>
                      <li>
                        <a href="#"
                          ><i class="fa fa-angle-right"></i> Statistics</a
                        >
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-angle-right"></i> Teams</a>
                      </li>
                      <li>
                        <a href="#"
                          ><i class="fa fa-angle-right"></i> Qualifiers</a
                        >
                      </li>
                      <li>
                        <a href="#"
                          ><i class="fa fa-angle-right"></i> Ticketing</a
                        >
                      </li>
                    </ul>
                  </div>

                  <div class="col-6">
                    <ul class="list-style">
                      <li>
                        <a href="#"
                          ><i class="fa fa-angle-right"></i> Volunteers</a
                        >
                      </li>
                      <li>
                        <a href="#"
                          ><i class="fa fa-angle-right"></i> Committees</a
                        >
                      </li>
                      <li>
                        <a href="#"
                          ><i class="fa fa-angle-right"></i> Official
                          Documents</a
                        >
                      </li>
                      <li>
                        <a href="#"
                          ><i class="fa fa-angle-right"></i> Terms Of Service</a
                        >
                      </li>
                      <li>
                        <a href="#"
                          ><i class="fa fa-angle-right"></i> Organisation</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-lg-7">
                <div class="row">
                  <div class="col-md-6 col-xl-4">
                    <a href="single-team.html">
                      <div
                        class="item-boxed-img small"
                        style="background: url(img/players/1.jpg)"
                      >
                        <h4>School</h4>
                      </div>
                    </a>
                  </div>

                  <div class="col-md-6 col-xl-4">
                    <a href="page-about.html">
                      <div
                        class="item-boxed-img small"
                        style="background: url(img/players/2.jpg)"
                      >
                        <h4>Gallery</h4>
                      </div>
                    </a>
                  </div>

                  <div class="col-md-6 col-xl-4">
                    <a href="services.html">
                      <div
                        class="item-boxed-img small"
                        style="background: url(img/players/3.jpg)"
                      >
                        <h4>Cups</h4>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-6 col-xl-4">
                    <a href="single-team.html">
                      <div
                        class="item-boxed-img small"
                        style="background: url(img/players/4.jpg)"
                      >
                        <h4>Videos</h4>
                      </div>
                    </a>
                  </div>

                  <div class="col-md-6 col-xl-4">
                    <a href="page-about.html">
                      <div
                        class="item-boxed-img small"
                        style="background: url(img/players/5.jpg)"
                      >
                        <h4>Positions</h4>
                      </div>
                    </a>
                  </div>

                  <div class="col-md-6 col-xl-4">
                    <a href="services.html">
                      <div
                        class="item-boxed-img small"
                        style="background: url(img/players/6.jpg)"
                      >
                        <h4>Locations</h4>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Parallax Section - Testimonials -->
        <div
          class="parallax-section parallax-total"
          style="background: url(img/slide/3.jpg)"
        >
          <div class="scale-bottom">
            <div class="skewmask-block"></div>
          </div>

          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <div class="text-center padding-bottom">
                  <h2>
                    We have earned the trust of
                    <span class="text-resalt">25,869</span> Club Members.
                  </h2>
                  <p>
                    Duis non lorem porta, eros sit amet, tempor sem. semper a
                    tempus et.
                  </p>
                </div>

                <ul class="testimonials testimonials-carousel">
                  <li>
                    <blockquote>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Quisque rutrum pellentesque!.
                      </p>
                      <img src="img/testimonials/1.jpg" alt="" />
                      <strong>Federic Gordon</strong><a href="#">@iwthemes</a>
                    </blockquote>
                  </li>
                  <li>
                    <blockquote>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Quisque rutrum pellentesque!.
                      </p>
                      <img src="img/testimonials/2.jpg" alt="" />
                      <strong>Federic Gordon</strong><a href="#">@iwthemes</a>
                    </blockquote>
                  </li>
                  <li>
                    <blockquote>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Quisque rutrum pellentesque!.
                      </p>
                      <img src="img/testimonials/3.jpg" alt="" />
                      <strong>Federic Gordon</strong><a href="#">@iwthemes</a>
                    </blockquote>
                  </li>
                  <li>
                    <blockquote>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Quisque rutrum pellentesque!.
                      </p>
                      <img src="img/testimonials/4.jpg" alt="" />
                      <strong>Federic Gordon</strong><a href="#">@iwthemes</a>
                    </blockquote>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- End Gray Section - Testimonials -->

        <!-- Content Central -->
        <div class="container padding-top">
          <div class="row">
            <!-- content Column Left -->
            <div class="col-lg-6 col-xl-7">
              <!-- Recent Post -->
              <div class="panel-box">
                <div class="titles">
                  <h4>Featured Teams</h4>
                </div>

                <!-- Post Item -->
                <div class="post-item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="img-hover">
                        <img
                          src="img/blog/1.jpg"
                          alt=""
                          class="img-responsive"
                        />
                        <div class="overlay">
                          <a href="single-news.html">+</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h5>
                        <a href="single-news.html">Group Stage Breakdown</a>
                      </h5>
                      <span class="data-info"
                        >January 3, 2014 / <i class="fa fa-comments"></i
                        ><a href="#">0</a></span
                      >
                      <p>
                        While familiar with fellow European nation France,
                        Hareide admits that South American side Peru.<a
                          href="single-news.html"
                          >Read More [+]</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <!-- End Post Item -->

                <!-- Post Item -->
                <div class="post-item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="img-hover">
                        <img
                          src="img/blog/2.jpg"
                          alt=""
                          class="img-responsive"
                        />
                        <div class="overlay">
                          <a href="single-news.html">+</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h5>
                        <a href="single-news.html"
                          >Russia 2018’s potential classic match-ups</a
                        >
                      </h5>
                      <span class="data-info"
                        >January 9, 2014 / <i class="fa fa-comments"></i
                        ><a href="#">5</a></span
                      >
                      <p>
                        Our goal is very clear, it didn’t change after the draw.
                        We should qualify for the knockout stage.<a
                          href="single-news.html"
                          >Read More [+]</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <!-- End Post Item -->

                <!-- Post Item -->
                <div class="post-item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="img-hover">
                        <img
                          src="img/blog/3.jpg"
                          alt=""
                          class="img-responsive"
                        />
                        <div class="overlay">
                          <a href="single-news.html">+</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h5>
                        <a href="single-news.html"
                          >World Cup rivalries reprised</a
                        >
                      </h5>
                      <span class="data-info"
                        >January 4, 2014 / <i class="fa fa-comments"></i
                        ><a href="#">3</a></span
                      >
                      <p>
                        The outdoor exhibition on Manezhnaya Square comprises 11
                        figures that symbolise the main sites of interest.<a
                          href="single-news.html"
                          >Read More [+]</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <!-- End Post Item -->

                <!-- Post Item -->
                <div class="post-item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="img-hover">
                        <img
                          src="img/blog/4.jpg"
                          alt=""
                          class="img-responsive"
                        />
                        <div class="overlay">
                          <a href="single-news.html">+</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <h5>
                        <a href="single-news.html"
                          >All set for your trip to Russia?</a
                        >
                      </h5>
                      <span class="data-info"
                        >January 8, 2014 / <i class="fa fa-comments"></i
                        ><a href="#">2</a></span
                      >
                      <p>
                        Colombia play Japan on 19 June at the Mordovia Arena,
                        where the piling and casting operations.<a
                          href="single-news.html"
                          >Read More [+]</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <!-- End Post Item -->
              </div>
              <!-- End Recent Post -->

              <!-- Experts -->
              <div class="panel-box">
                <div class="titles">
                  <h4>Featured Players (You are in good company)</h4>
                </div>

                <div class="row">
                  <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4">
                    <div class="box-info">
                      <a href="single-player.html">
                        <img
                          src="img/players/1.jpg"
                          alt=""
                          class="img-responsive"
                        />
                      </a>
                      <h6 class="entry-title">
                        <a href="single-player.html">Cristiano Ronaldo</a>
                      </h6>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4">
                    <div class="box-info">
                      <a href="single-player.html">
                        <img
                          src="img/players/2.jpg"
                          alt=""
                          class="img-responsive"
                        />
                      </a>
                      <h6 class="entry-title">
                        <a href="single-player.html">Lionel Messi</a>
                      </h6>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4">
                    <div class="box-info">
                      <a href="single-player.html">
                        <img
                          src="img/players/3.jpg"
                          alt=""
                          class="img-responsive"
                        />
                      </a>
                      <h6 class="entry-title">
                        <a href="single-player.html">Neymar</a>
                      </h6>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4">
                    <div class="box-info">
                      <a href="single-player.html">
                        <img
                          src="img/players/4.jpg"
                          alt=""
                          class="img-responsive"
                        />
                      </a>
                      <h6 class="entry-title">
                        <a href="single-player.html">Luis Suárez</a>
                      </h6>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4">
                    <div class="box-info">
                      <a href="single-player.html">
                        <img
                          src="img/players/5.jpg"
                          alt=""
                          class="img-responsive"
                        />
                      </a>
                      <h6 class="entry-title">
                        <a href="single-player.html"> Gareth Bale</a>
                      </h6>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4">
                    <div class="box-info">
                      <a href="single-player.html">
                        <img
                          src="img/players/6.jpg"
                          alt=""
                          class="img-responsive"
                        />
                      </a>
                      <h6 class="entry-title">
                        <a href="single-player.html">Sergio Agüero</a>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Experts -->
            </div>
            <!-- End content Left -->

            <!-- content Sidebar Center -->
            <aside class="col-sm-6 col-lg-3 col-xl-3">
              <!-- Locations -->
              <div class="panel-box">
                <div class="titles no-margin">
                  <h4>Locations</h4>
                </div>
                <!-- Locations Carousel -->
                <ul class="single-carousel">
                  <li>
                    <img
                      src="img/locations/1.jpg"
                      alt=""
                      class="img-responsive"
                    />
                    <div class="info-single-carousel">
                      <h4>Saint Petersburg</h4>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam,quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo cillum dolore eu
                        fugiat nulla sit amet, consectetur adipisicing elit,
                        pariatur.
                      </p>
                    </div>
                  </li>
                  <li>
                    <img
                      src="img/locations/2.jpg"
                      alt=""
                      class="img-responsive"
                    />
                    <div class="info-single-carousel">
                      <h4>Ekaterinburg</h4>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam,quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo cillum dolore eu
                        fugiat nulla pariatur.
                      </p>
                    </div>
                  </li>
                  <li>
                    <img
                      src="img/locations/3.jpg"
                      alt=""
                      class="img-responsive"
                    />
                    <div class="info-single-carousel">
                      <h4>Nizhny Novgorod</h4>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam,quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo cillum dolore eu
                        fugiat nulla pariatur.
                      </p>
                    </div>
                  </li>
                </ul>
                <!-- Locations Carousel -->
              </div>
              <!-- End Locations -->

              <!-- Video presentation -->
              <div class="panel-box">
                <div class="titles no-margin">
                  <h4>Presentation</h4>
                </div>
                <!-- Locations Video -->
                <div class="row">
                  <iframe
                    src="https://www.youtube.com/embed/AfOlAUd7u4o"
                    class="video"
                  ></iframe>
                  <div class="info-panel">
                    <h4>Rio de Janeiro</h4>
                    <p>
                      Lorem ipsum dolor sit amet, sit amet, consectetur
                      adipisicing elit, elit, incididunt ut labore et dolore
                      magna aliqua sit amet, consectetur adipisicing elit,
                    </p>
                  </div>
                </div>
                <!-- End Locations Video -->
              </div>
              <!-- End Video presentation-->

              <!-- Widget img-->
              <div class="panel-box">
                <div class="titles no-margin">
                  <h4>Widget Image</h4>
                </div>
                <img src="img/slide/1.jpg" alt="" />
                <div class="row">
                  <div class="info-panel">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      ut sit amet, consectetur adipisicing elit, labore et
                      dolore.
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Widget img-->
            </aside>
            <!-- End content Sidebar Center -->

            <!-- content Sidebar Right -->
            <aside class="col-sm-6 col-lg-3 col-xl-2">
              <!-- Diary -->
              <div class="panel-box">
                <div class="titles">
                  <h4><i class="fa fa-calendar"></i>Diary</h4>
                </div>

                <!-- List Diary -->
                <ul class="list-diary">
                  <!-- Item List Diary -->
                  <li>
                    <h6>GROUP A <span>14 JUN 2018 - 18:00</span></h6>
                    <ul class="club-logo">
                      <li>
                        <img src="img/clubs-logos/rusia.png" alt="" />
                        <span>RUSSIA</span>
                      </li>
                      <li>
                        <img src="img/clubs-logos/arabia.png" alt="" />
                        <span>SAUDI ARABIA</span>
                      </li>
                    </ul>
                  </li>
                  <!-- End Item List Diary -->

                  <!-- Item List Diary -->
                  <li>
                    <h6>GROUP E <span>22 JUN 2018 - 15:00</span></h6>
                    <ul class="club-logo">
                      <li>
                        <img src="img/clubs-logos/bra.png" alt="" />
                        <span>BRAZIL</span>
                      </li>
                      <li>
                        <img src="img/clubs-logos/costa-rica.png" alt="" />
                        <span>COSTA RICA</span>
                      </li>
                    </ul>
                  </li>
                  <!-- End Item List Diary -->

                  <!-- Item List Diary -->
                  <li>
                    <h6>GROUP H <span>19 JUN 2018 - 15:00</span></h6>
                    <ul class="club-logo">
                      <li>
                        <img src="img/clubs-logos/colombia.png" alt="" />
                        <span>COLOMBIA</span>
                      </li>
                      <li>
                        <img src="img/clubs-logos/japan.png" alt="" />
                        <span>JAPAN</span>
                      </li>
                    </ul>
                  </li>
                  <!-- End Item List Diary -->

                  <!-- Item List Diary -->
                  <li>
                    <h6>GROUP C <span>16 JUN 2018 - 15:00</span></h6>
                    <ul class="club-logo">
                      <li>
                        <img src="img/clubs-logos/fra.png" alt="" />
                        <span>FRANCE</span>
                      </li>
                      <li>
                        <img src="img/clubs-logos/aus.png" alt="" />
                        <span>AUSTRALIA</span>
                      </li>
                    </ul>
                  </li>
                  <!-- End Item List Diary -->
                </ul>
                <!-- End List Diary -->
              </div>
              <!-- End Diary -->

              <!-- Adds Sidebar -->
              <div class="panel-box">
                <div class="titles no-margin">
                  <h4><i class="fa fa-link"></i>Cta</h4>
                </div>
                <a
                  href="http://themeforest.net/user/iwthemes/portfolio?ref=iwthemes"
                  target="_blank"
                >
                  <img
                    src="img/adds/sidebar.png"
                    class="img-responsive"
                    alt=""
                  />
                </a>
              </div>
              <!-- End Adds Sidebar -->
            </aside>
            <!-- End content Sidebar Right -->
          </div>
        </div>
        <!-- End Content Central -->

        <!-- Newsletter -->
        <div class="section-newsletter no-margin">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="text-center">
                  <h2>
                    Enter your e-mail and
                    <span class="text-resalt">subscribe</span> to our
                    newsletter.
                  </h2>
                  <p>
                    Duis non lorem porta, eros sit amet, tempor sem. Donec nunc
                    arcu, semper a tempus et, consequat.
                  </p>
                </div>
                <form
                  id="newsletterForm"
                  action="php/mailchip/newsletter-subscribe.php"
                >
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-envelope"></i>
                        </span>
                        <input
                          class="form-control"
                          placeholder="Your Name"
                          name="name"
                          type="text"
                          required="required"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-envelope"></i>
                        </span>
                        <input
                          class="form-control"
                          placeholder="Your  Email"
                          name="email"
                          type="email"
                          required="required"
                        />
                        <span class="input-group-btn">
                          <button
                            class="btn btn-primary"
                            type="submit"
                            name="subscribe"
                          >
                            SIGN UP
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </form>
                <div id="result-newsletter"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Newsletter -->
      </section>
      <!-- End Section Area -  Content Central -->

      <div class="instagram-btn">
        <div class="btn-instagram">
          <i class="fa fa-instagram"></i>
          FOLLOW
          <a href="https://www.instagram.com/fifaworldcup/" target="_blank"
            >&#64;fifaworldcup</a
          >
        </div>
      </div>

      <div class="content-instagram">
        <div id="instafeed"></div>
      </div>

      <!-- footer-->
      <footer id="footer">
        <!-- Footer Top-->
        <div class="top-footer">
          <!-- Logo Footer-->
          <div class="col-lg-12">
            <div class="logo-footer">
              <h2>Sports Cup</h2>
            </div>
          </div>
          <!-- End Logo Footer-->

          <!-- Social Icons-->
          <ul class="social">
            <li>
              <div>
                <a href="#" class="facebook">
                  <i class="fa fa-facebook"></i>
                </a>
              </div>
            </li>
            <li>
              <div>
                <a href="#" class="twitter-icon">
                  <i class="fa fa-twitter"></i>
                </a>
              </div>
            </li>
            <li>
              <div>
                <a href="#" class="vimeo">
                  <i class="fa fa-vimeo-square"></i>
                </a>
              </div>
            </li>
            <li>
              <div>
                <a href="#" class="google-plus">
                  <i class="fa fa-google-plus"></i>
                </a>
              </div>
            </li>
            <li>
              <div>
                <a href="#" class="youtube">
                  <i class="fa fa-youtube"></i>
                </a>
              </div>
            </li>
          </ul>
          <!-- End Social Icons-->
        </div>
        <!-- End Footer Top-->

        <!-- Links Footer-->
        <div class="links-footer">
          <div class="container">
            <div class="row">
              <!-- Column Links -->
              <div class="col-lg-2 col-md-5 col-sm-5">
                <div class="info-links">
                  <h5>Organisation</h5>
                  <ul>
                    <li><a href="#">Volunteers</a></li>
                    <li><a href="#">Committees</a></li>
                    <li><a href="#">Official Documents</a></li>
                    <li><a href="#">Terms of Service</a></li>
                  </ul>
                </div>
              </div>
              <!-- End Column Links -->

              <!-- Column Links -->
              <div class="col-lg-4 col-md-7 col-sm-7">
                <div class="info-links">
                  <h5>Groups</h5>
                  <ul class="columns">
                    <li><a href="#">GROUP A</a></li>
                    <li><a href="#">GROUP B</a></li>
                    <li><a href="#">GROUP C</a></li>
                    <li><a href="#">GROUP D</a></li>
                    <li><a href="#">GROUP E</a></li>
                    <li><a href="#">GROUP F</a></li>
                    <li><a href="#">GROUP G</a></li>
                    <li><a href="#">GROUP H</a></li>
                  </ul>
                </div>
              </div>
              <!-- End Column Links -->

              <!-- Column Links -->
              <div class="col-lg-2 col-md-5 col-sm-5">
                <div class="info-links">
                  <h5>Interest Links</h5>
                  <ul>
                    <li><a href="#">Statistics</a></li>
                    <li><a href="#">Teams</a></li>
                    <li><a href="#">Qualifiers</a></li>
                    <li><a href="#">Ticketing</a></li>
                  </ul>
                </div>
              </div>
              <!-- End Column Links -->

              <!-- Column Links -->
              <div class="col-lg-4 col-md-7 col-sm-7">
                <div class="info-links">
                  <h5>Organisation</h5>
                  <ul class="columns">
                    <li><a href="#">NIZHNY NOVGOROD</a></li>
                    <li><a href="#">SAINT PETERSBURG</a></li>
                    <li><a href="#">EKATERINBURG</a></li>
                    <li><a href="#">MOSCOW</a></li>
                    <li><a href="#">KAZAN</a></li>
                    <li><a href="#">KALININGRAD</a></li>
                    <li><a href="#">VOLGOGRAD</a></li>
                    <li><a href="#">ROSTOV-ON-DON</a></li>
                  </ul>
                </div>
              </div>
              <!-- End Column Links -->
            </div>
          </div>
        </div>
        <!-- End Links Footer-->
      </footer>
      <!-- End footer-->

      <!-- footer Down-->
      <FooterCopyright></FooterCopyright>
      <!-- footer Down-->
    </div>
  </div>
</template>
<script>
// import FooterCopyright from '~/components/FooterCopyright.vue'
export default {}
</script>
